# Tool name

### Process

1. initialize repo
2. train a model on initial data (base model)
3. commit model into main: data, model, and model parameters
4. create a new branch (update branch)
5. update data and train/retrain model (extra data points, deleted data points, and updated data points, to provoke merge conflicts)
6. commit to update branch
7. merge new data into the main branch

### Evaluation

- Difficulty to set up (One sentence summary, any problems?)
- Detail of the documentation (Discoverability, Search for advanced issues)
- Git-like? (push/pull, commit, add, etc.)
- merge options (replace, update, etc.)

In [4]:
# Step 1: Importing libraries 
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.preprocessing import PolynomialFeatures

# etc

#### Initialize Repository

In [1]:
# initialize connection

In [2]:
# initialise repository (may be outside of jupyter)

#### train a model on initial data (base model)

In [5]:
# Step 2: Defining and reading the DataFrame 
salaries_data = pd.read_csv('data/ds_salaries.csv')
salaries_data.drop("salary",axis =1, inplace=True)
salaries_data.drop("salary_currency",axis =1, inplace=True)

In [6]:
salaries_data[:2198]

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...
2193,2022,EN,FT,Data Engineer,160000,US,0,US,M
2194,2022,EN,FT,Data Engineer,135000,US,0,US,M
2195,2022,MI,FT,Data Analyst,150000,US,0,US,M
2196,2022,MI,FT,Data Analyst,100000,US,0,US,M
2197,2022,MI,FT,Data Engineer,120000,US,0,US,M

In [30]:
salaries_data[2198:]

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
2198,2022,MI,FT,Data Engineer,95000,US,0,US,M
2199,2022,SE,FT,Data Engineer,68293,ES,0,ES,M
2200,2022,SE,FT,Data Engineer,42026,ES,0,ES,M
2201,2022,SE,FT,Data Engineer,191200,US,0,US,M
2202,2022,SE,FT,Data Engineer,130000,US,0,US,M
...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,94665,IN,50,IN,L

In [31]:
len(salaries_data[2198:]) + len(salaries_data[:2198]) == len(salaries_data)

True

In [32]:
# Step 3: Seperating the data into features and labels
X = salaries_data.drop('salary_in_usd', axis=1)
y = salaries_data['salary_in_usd']

In [34]:
exp_lvl_data = pd.get_dummies(salaries_data['experience_level'], drop_first = True)
empl_type_data = pd.get_dummies(titanic_data['employment_type'], drop_first = True)

#WIP!!
exp_lvl_data = pd.get_dummies(salaries_data['experience_level'], drop_first = True)
empl_type_data = pd.get_dummies(titanic_data['employment_type'], drop_first = True)

work_year              int64
experience_level      object
employment_type       object
job_title             object
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
company_size          object
dtype: object

In [35]:
# Step 4: Generating polynomial features 
#Z = PolynomialFeatures(degree=2, include_xbias=False).fit_transform(X)
# Dividing the dataset into test and train data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10)

In [36]:
# Step 5: Selecting the linear regression method from the scikit-learn library
model = LinearRegression().fit(X_train, y_train)

ValueError: could not convert string to float: 'SE'

In [23]:
# Step 6: Validation
# Evaluating the trained model on training data
y_prediction = model.predict(X_train)
print("MAE on train data= " , metrics.mean_squared_error(y_train, y_prediction))
# Evaluating our trained model on test data
y_prediction = model.predict(X_test)
print("MAE on test data = " , metrics.mean_squared_error(y_test, y_prediction))

MAE on train data=  13925.627902935243
MAE on test data =  17056.93024340227

#### commit model into main: data, model and model parameters

In [3]:
model.coef_

NameError: name 'model' is not defined

Model Coefficients can be saved as the model parameters

In [60]:
model.predict(X_test.iloc[1].to_numpy().reshape(1, -1))

/Users/Alex/miniconda3/envs/data-versioning/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([134.44367609])

#### create new branch (update branch)

#### update data and train/retrain model (extra datapoints, deleted datapoints and updated datapoints, to provoke merge conflicts)

#### commit to update branch

#### merge new data into main branch

In [4]:
X_test

NameError: name 'X_test' is not defined

In [59]:
X_test.iloc[0]#.to_numpy().reshape(1, -1)

V-Length    16.5000
D-Length    18.2000
X-Length    20.3000
Height       5.2983
Width        2.8217
Name: 35, dtype: float64

Fish with above measures has approximately 134.44 gramm